* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background: #0a0a0a;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.03;
    z-index: 1;
    pointer-events: none;
    background-image: url(Background.svg);
}

.page {
    display: none;
    opacity: 0;
    animation: fadeOut 0.3s ease-out;
}

.page.active {
    display: flex;
    flex-direction: column;

}